.login-content {
    border: 1px solid #e6e0e0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 1px 2px 3px #e6e0e0;

    .form-btn {
        padding: 20px 0;

        .concellbtn {
            margin-left: 10px;
        }
    }

    .tips {
        margin: 0;
        color: red;
        font-size: 12px;
    }
}