.App {
  padding: 20px;
  .tab {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 50px;
    div {
      width: 50px;
      padding: 5px;
      border: 1px solid rgb(182, 178, 178);
      text-align: center;
      cursor: pointer;
    }

    .visible {
      border: 1px solid rgb(5, 96, 231);
    }
  }
  .status {
    display: flex;
    align-items: center;
    .point {
      display: block;
      width: 5px;
      height: 5px;
      border-radius: 50%;
      margin-right: 4px;
    }
    .processing {
      background-color: rgb(55, 37, 219);
    }
    .approving {
      background-color: #ec2d2d;
    }
  }
  .star {
    color: rgb(247, 211, 10);
  }
  .card {
    margin: 10px 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 30px;
    .item {
      padding: 10px;
      border-radius: 5px;
      box-shadow: 1px 1px 4px #c0c4c5;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .head {
        display: flex;
        align-items: center;
        flex: 0 0 80px;
        img {
          width: 70px;
        }
      }

      .info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .prjName {
          font-weight: bold;
          margin-bottom: 4px;
          font-size: 16px;
          line-height: 20px;
        }
      }
      .option {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        height: 100%;
        justify-content: space-between;
      }
    }
  }
}
